  </main>
  {{ partial "menu.html" . }}
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if ($.Param "author") }}
          {{ if ($.Param "authorwebsite") }}
            <a href="{{ $.Param "authorwebsite" }}">{{ $.Param "author" }}</a>
          {{ else }}
            {{ $.Param "author" }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2006" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
      | theme:
      <span class="js-theme-toggle theme-toggle light-only" data-theme="t-dark">dark / </span>
      <span class="js-theme-toggle theme-toggle dark-only" data-theme="t-light">light / </span>
      <span class="js-theme-toggle theme-toggle" data-theme="t-system">reset</span>
    </p>
  </footer>

  {{- partial "footer_custom.html" . }}
</body>
</html>
