<!DOCTYPE html>
<html class="t-system" lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  <a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
  {{ partial "svgpack-sprite.html" . }}
  <header class="l-header">
    {{ if .IsPage }}
    <p class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></p>
    {{ else }}
    <h1 class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></h1>
    {{ end }}
    {{ with ($.Param "subtitle") }}
    <p class="p-subtitle">
      {{ . }}
      {{ with ($.Param "icon_light") }}<span class="js-theme-toggle theme-toggle light-only" data-theme="t-dark">{{ . }}</span>{{ end }}
      {{ with ($.Param "icon_dark") }}<span class="js-theme-toggle theme-toggle dark-only" data-theme="t-light">{{ . }}</span>{{ end }}
    </p>
    {{ end }}
  </header>
  <main id="main" class="l-main">
